body,html {
}
@font-face {
  font-family: radnika-black;
  src: url("fonts/Radnika-Black.otf");
}
@font-face {
  font-family: radnika-bold;
  src: url("fonts/Radnika-Bold.otf");
}
@font-face {
  font-family: radnika-regular;
  src: url("fonts/Radnika-Regular.otf");
}
@font-face {
  font-family: radnika-condensed;
  src: url("fonts/Radnika-Condensed.otf");
}
@font-face {
  font-family: radnika-medium;
  src: url("fonts/Radnika-Medium.otf");
}
@font-face {
  font-family: stratum-medium;
  src: url("fonts/Stratum2-Medium.otf");
}
@font-face {
  font-family: stratum-regular;
  src: url("fonts/Stratum2-Regular.otf");
}
#title {
  position: relative;
  margin: 0 auto;
  min-width: 690px;
  max-width: 800px;
  margin-top: 50px;
}
h1 {
  font-family: radnika-black;
  font-size: 30px;
  text-align: center;
  margin: 0;
}
h3 {
  font-family: radnika-medium;
  font-size: 14px;
  text-align: center;
}
h5 {
  margin: 8px;
  color: #a19da8;
  font-family: radnika-regular;
}
#title-line {
  stroke-width: 2;
  stroke: #a19da8;
}
#graphic {
  position: relative;
  margin: 0 auto;
  min-width: 690px;
  max-width: 800px;
}
#options {
  max-width: 800px;
  min-width: 690px;
}
#champion-name {
  font-family: radnika-bold;
  font-size: 25px;
  float: left;
  max-width: 100px;
  margin: 1em;
}
#slider-button-container {
  width: 550px;
  float:right;
}
#slider {
  position: relative;
  width: 270px;
  float: left;
  margin: 1em;
}
#button-section {
  position: relative;
  width: 200px;
  float: right;
  margin: 1em;
}
.slidecontainer {
  width: 100%;
}
.slider {
  -webkit-appearance: none;
  position: absolute;
  margin: 8px;
  height: 10px;
  width: 270px;
  background: rgb(200,200,200);
  opacity: 0.8;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
/* Mouse-over effects */
.slider:hover {
  opacity: 1;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 10px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: rgb(79,39,79);
    cursor: pointer; /* Cursor on hover */
}
.slider::-moz-range-thumb {
    width: 10px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: rgb(79,39,79);
    cursor: pointer; /* Cursor on hover */
}
button {
  background-color: none;
  font-size: 14px;
  border-radius: 3px;
  width: 70px;
  height: 25px;
  font-weight: 600;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  color: #a19da8;
  border: 1.5px solid #a19da8;
  font-family: stratum-medium;
}
#button-alpha {
  width: 123px;
}
#graphic-svg {
  margin-top: 10px;
  height: 2500px;
  min-width: 500px;
  max-width: 700px;
}
.pairNameText {
  font-size: 12px;
  text-anchor: end;
  font-family: radnika-regular;
  cursor: pointer;
}
.breakline {
  stroke: gray;
  stroke-width: 0.1;
}
.dotDistance {
  opacity: 0.5;
  fill: rgb(100,100,100);
}
.countLabel {
  font-size: 12px;
  font-family: stratum-medium;
}
.midline {
  stroke-width: 2;
  opacity: .4;
}
.background {
  fill: white;
}
.dataLabel {
  font-size: 12px;
  font-family: stratum-medium;
  fill: #a19da8;
  text-anchor: middle;
}
